*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.titl{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -40px;
}
body{
    background-color: #ebf5fc ;
}
.bod{
    align-items: center;
    display: flex;
    min-height: 100v;
    background: #ebf5fc;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: center;
}
.container .card{
     position: relative;
     min-width: 320px;
     height: 440px;
     box-shadow: inset 5px 5px 5px rgb(0,0,0,0.05),
                inset -5px -5px 5px rgb(255, 255, 255, 0.5),
                 5px 5px 5px rgb(0, 0, 0, 0.08),
                 -5px -5px 5px rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .box .content{
    padding: 20px;
    text-align: center;

}
.container .card .box .content h3{
    font-size: 1.3cm;
    color: #777;
    z-index: 1;
    transition: 00.5s;
}
.container .card .box .content button{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    background: green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  /*.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    background: green;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  */
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  